{
  "extends": "airbnb-base",
  "rules": {
    "no-param-reassign": "off"
  },
  "settings": {
    "import/core-modules": [
      "glob"
    ]
  },
  "globals": {
    "describe": false,
    "it": false,
    "expect": false
  }
}